// COLORS
$color-primary: #14919b;
$color-primary-light: #54d1db;
$color-primary-dark: #044e54;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f5f7fa;
$color-grey-light-2: #cbd2d9;

$color-grey-dark: #1f2933;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
