.footer {
  padding: 4rem 0;
  border-top: 1px #cbd2d9 solid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". txt txt ."
    ". icn icn .";
  justify-items: center;
  grid-gap: 2rem;

  &__title {
    grid-area: txt;
  }
  & .social {
    grid-area: icn;

    &__item {
      display: inline-block;
      padding: 0 2rem;
    }
  }
}

@include respond(phone) {
  .footer {
    grid-template-areas:
      "txt txt txt txt"
      "icn icn icn icn";
  }
}
