.header {
  position: relative;
  padding: 2rem;
  margin: 0 auto;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 50% 5% 35%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "txt . img"
    "more more more";

  &__text-box {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading-primary {
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__picture {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & img {
      border-radius: 4px;
    }
  }

  &__link-project {
    grid-area: more;
    justify-self: center;
    align-self: end;
    padding: 2rem;

    & p {
      font-size: 1.4rem;
      padding: 2rem;
    }
    
    &--line {
      width: 1px;
      height: 4rem;
      border-left: 1px solid $color-grey-dark;
      margin: 0 auto;
      border-radius: 5px;
    }
  }
}

@include respond(phone) {
  .header {
    grid-template-areas:
      "txt txt txt"
      "more more more";
    &__text-box {
      text-align: center;

      .heading-primary {
        font-size: 4rem;
        font-weight: 500;
        line-height: 5rem;
        letter-spacing: 0.2rem;
      }
    }
    &__picture {
      display: none;
    }
  }
}
