*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

.link_style-1 {
  a:link,
  a:visited {
    color: $color-grey-dark;
  }
  a:hover,
  a:focus {
    color: $color-primary;
  }
  a:active {
    color: $color-primary-dark;
  }
}
.link_style-2 {
  a:link,
  a:visited {
    color: $color-primary;
  }
  a:hover,
  a:focus {
    color: $color-primary-dark;
  }
  a:active {
    color: $color-grey-dark;
  }
}

a:visited,
a:hover,
a:focus,
a:active {
  transition-duration: 0.2s;
}
