body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

.navigation {
  &__logo {
    font-size: 3rem;
    font-family: "spectral", serif;
    letter-spacing: -2px;
    font-weight: 300;
  }

  &__item {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;

    a:link,
    a:visited {
      color: $color-grey-dark;
    }
    a:hover,
    a:focus {
      color: $color-primary;
    }
    a:active {
      color: $color-primary-dark;
    }
  }
}

.header {
  &__text-box {
    .heading-primary {
      font-size: 7rem;
      font-weight: 500;
      line-height: 9.5rem;
      letter-spacing: 0.2rem;
    }
    p {
      font-size: 2.2rem;
      font-weight: 300;
      letter-spacing: 0.04rem;
    }
  }

  &__project {
    p {
      font-size: 1.8rem;
      font-weight: 400;

      a:link,
      a:visited {
        color: $color-grey-dark;
      }
      a:hover,
      a:focus {
        color: $color-primary;
      }
      a:active {
        color: $color-primary-dark;
      }
    }
  }
}
