body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.6;
  letter-spacing: 0.2px;
  font-size: 2rem;
  color: $color-grey-dark;
}

h2 {
  font-size: 4.8rem;
  font-family: "spectral", serif;
  font-weight: 700;
}

h1 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 9rem;
  letter-spacing: 0.2rem;
}
