.navigation,
.header,
.project {
  margin: 0 auto;
  max-width: 120rem;
}

section:nth-of-type(odd) {
  background-color: $color-grey-light-1;
}

.project {
  margin: 0 auto;
  height: 90vh;
  width: 80%;
  display: grid;
  grid-template-columns: 38% 7% 55%;
  grid-template-rows: 100%;
  grid-template-areas: "txt . img";
  align-items: center;

  &__text-content {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      margin-bottom: 1.2rem;
    }
    &__see-more {
      padding-top: 2.4rem;
      font-weight: 600;
      font-size: 1.6rem;

      a:link,
      a:visited {
        color: $color-grey-dark;
      }
      a:hover,
      a:focus {
        color: $color-primary;
      }
      a:active {
        color: $color-primary-dark;
      }
    }
  }

  &__picture {
    width: 100%;
    max-height: 90%;
    grid-area: img;
    display: flex;
    justify-content: center;
  }
}
.img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

@include respond(phone) {
  .project {
    width: 90%;
    height: auto;
    padding: 2rem 0;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img"
      "txt";
    align-items: center;

    &__text-content {
      text-align: center;
    }

    &__picture {
    }
  }
}
